<nav class="navBar">
    <div class="logo">
        <a href="/"><img src="/images/favicon.png" alt="Logo Image"></a>
    </div>
    <p>Notes Website</p>
    <div class="navLinks">
        <div class="links">
            <ul class="linkUl">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="actionBtn">
            <a href="/logout"><button class="logoutBtn btn">Logout</button></a>
        </div>
    </div>
</nav>