<%-include("partials/header.ejs")-%>
<body>
    <%-include("partials/navigation.ejs")-%>
    <img width="100%" src="https://img.freepik.com/free-vector/abstract-coming-soon-halftone-style-background-design_1017-27282.jpg?w=2000" alt="site is under construction">
</body>
<%-include("partials/footer.ejs")-%>