<%-include("partials/header.ejs")-%>
<body>
    <nav class="navBar">
        <div class="logo">
            <a href=""><img src="/images/favicon.png" alt="Logo Image"></a>
        </div>
        <div class="navLinks">
            <div class="links">
                <ul class="linkUl">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
        <p>Notes Website</p>
    </nav>
    <div class="container">
        <div class="banner">
            <p>
                Sticky notes are a popular tool for jotting down quick notes, reminders, and ideas. They can be used to organize tasks, set goals, and keep track of important information. A sticky notes website is a digital platform that allows users to create and manage virtual sticky notes. These notes can be accessed from any device with an internet connection and can be shared with others. Some sticky notes websites also offer features such as color-coding, categorization, and the ability to set reminders and alarms. Overall, a sticky notes website can be a useful tool for anyone looking to stay organized and on top of their tasks and responsibilities.
            </p>
        </div>
        <div class="rightDiv">
            <h1>Note</h1>
            <p>Experience the convenience of having all your notes in one place, accessible from any device.Say goodbye to cluttered notebooks and hello to a digital solution for all your note taking needs.Stay organized, stay on top of your tasks, and never forget an important note again with our website.</p>
            <div class="btnDiv">
                <a href="/login"><button class="loginBtn btn">Login</button></a>
                <a href="/register"><button class="regBtn btn">Register</button></a>
            </div>
        </div>
    </div>
</body>
<%-include("partials/footer.ejs")-%>